/* Details class style */

.detail {
    height: 100%;
    width: 100%;
    padding: 10%;
}

.detail p {
    margin-bottom: auto;
}

.details {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 50% 50%;
    grid-gap: 3%;
    align-items: center;
    padding-left: 5%;
    padding-right: 7%;
}

.details img {
    width: 93%;
    height: 93%;
}

.details-images {
    margin-top: 7%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.details p {
    font-size: 100%;
}

.day, .hour {
    text-align: center;
}

.day p, .hour p, .hour-with-arrow p {
    margin-top: 0px;
    color: rgb(168, 167, 167)
}

.day:hover, .hour:hover {
    cursor: pointer;
}

.details .arrow img {
    width: 40%;
    height: 40%;
    margin-bottom: 25%;
    margin-left: 30%;
}

.details .arrow img:hover{
    cursor: pointer;
}
