/* Actual HTML tags */

*{
    font-family: 'Average Sans';
    color: rgb(105, 105, 105);
    font-size: 20px;
    border: 0px;
    padding:0px
}

body{
    display: flex;
    justify-content: center;
}

.main-container{
    margin-top: 5%;
    width: 70%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.day-detail-img, .hour-detail-img {
    width: 80%;
    height: 80%;
}

.day-details, .hour-details {
    display: grid;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 5%;
    grid-gap: 2%;
    padding-left: 15%;
    box-shadow: 1px 1px 5px 1px #7277763a;
}

.hour-details {
    display: grid;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-template-columns: 100%;
}

.day-detail, .hour-detail{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
    
}

.day-detail-title, .hour-detail-title{
    margin-bottom: auto;
    margin-top: auto;
}