/*
@media all and (max-width: 680px) {
    .main-container {
        width: 70%;
        grid-template-columns: 100%;
    }

    .controls{
        width: 94%;
    }

    .details{
        margin-top: 7%;
    }

    ul{
        height: 60%;
    }
}
*/

